{% extends 'common_templates/base.html' %}
{% load static %}

{% block header %}

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<style>
    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        height: 100vh;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>

{% endblock %}

{% block title %}AdminLogin{% endblock %}
{% block content %}


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="login-page bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">

                            <div class="bg-white shadow rounded">
                                <div class="row">
                                    <div class="col-md-7 pe-0">
                                        <div class="form-left h-100 py-5 px-5">
                                            <form action="" class="row g-4">
                                                <div class="col-12">
                                                    <label>Username<span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="bi bi-person-fill"></i>
                                                        </div>
                                                        <input type="text" class="form-control" id="username"
                                                            placeholder="Enter Username">
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <label>Password<span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <div class="input-group-text"><i class="bi bi-lock-fill"></i>
                                                        </div>
                                                        <input type="text" class="form-control" id="password"
                                                            placeholder="Enter Password">
                                                    </div>
                                                </div>
                                                <span id="span1" style="color: brown;"></span>






                                                <div class="col-12">
                                                    <button type="button" id="subBtn"
                                                        class="btn btn-primary px-4">login</button>
                                                </div>
                                                <div class="col- text-center">
                                                    <p class="question">Don't have an account?</p>
                                                    <a class="createAcc" href="/admin_register">Create an
                                                        account.</a>

                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-md-5 ps-0 d-none d-md-block">
                                        <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                            <i class="bi bi-person-circle"></i>
                                            <h2 class="fs-1">Admin Login</h2>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#subBtn').click(function () {
            admin_email = $('#username').val()
            admin_password = $('#password').val()

            $.ajax({
                url: 'http://localhost:9000/common/admin_login/',
                data: {
                    'username': admin_email,
                    'password': admin_password
                },
                type: 'POST',
                success: function (response) {
                    console.log(response.status)
                    if (response.status == true) {
                        localStorage.setItem('token', response.token)
                        localStorage.setItem('admin_id', response.admin_id)  // Store the admin_id

                        window.location.href = 'http://127.0.0.1:8001/admin_app/admin_dashboard/';
                        alert("Welcome to your account  " +''+ response.admin_data.admin_name);
                        console.log("Welcome to your account");

                    } else {
                        $('#span1').html('Email or password do not match');
                    }
                },
            });
        });
    });

</script>



<!-- 
<script>
    $(document).ready(function () {
        var token = localStorage.getItem('token');
        $('#subBtn').click(function () {
            admin_email = $('#username').val()
            admin_password = $('#password').val()
            console.log(admin_email, admin_password)
            

            $.ajax({
                url: 'http://localhost:9000/common/admin_login/',
                data: {
                    'username': admin_email,
                    'password': admin_password
                },
                type: 'POST',
                success: function (response) {
                    console.log(response.status)
                    if (response.status == true) {
                        localStorage.setItem('token', response.token)
                        localStorage.setItem('admin_id',response.admin_id)

                        window.location.href = 'http://127.0.0.1:8001/admin_app/admin_dashboard/';
                        alert("welcom to your accound")
                        console.log("welcom to your accound")

                    }
                    else {
                        $('#span1').html('email or password not match')
                    }
                },

            });
        })
    })
</script>

 -->


{% endblock %}