{% extends 'admin_app_templates/base.html' %}
{% load static %}

{% block header %}

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





{% endblock %}

{% block title %}Change password{% endblock %}
{% block content %}

<div class="container">
    <div class="card bg-light mb-5" style="    margin-top: 88px;">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Change Password</h4>
            <div class="form-group input-group">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Old password" type="password" id="old_password"
                        name="old_password" required>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="New password" type="password" id="new_password"
                        name="new_password" required>
                    <span id="pass"></span>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Confirm password" type="password" id="confirm_password"
                        name="confirm_password" required>
                </div> <!-- form-group// -->
                <div class="form-group ">
                    <button type="button" id="change_password_btn" class="btn btn-primary btn-block mt-2 "> Save Changes
                    </button>
                </div> <!-- form-group// -->

            </div>

        </article>
    </div> <!-- card.// -->

</div>


<script>
    $(document).ready(function () {
        var p_id = localStorage.getItem('token')
        $('#change_password_btn').click(function () {
            var oldPassword = $('#old_password').val();
            var newPassword = $('#new_password').val();
            var confirmPassword = $('#confirm_password').val();



            if (oldPassword === '') {
                alert('Please enter Old password.');
                $('#old_password').focus();
                return;
            }


            if (newPassword === '') {
                alert('Please enter new password.');
                $('#new_password').focus();
                return;
            }
            if (newPassword.length < 8) {
                alert('New password must be at least 8 characters long.');
                $('#new_password').focus();
                return;
            }




            // confirm newPassword
            if (confirmPassword === '') {
                alert('Please Confirm password.');
                $('#customer_name').focus();
                return false;
            } else if (newPassword !== confirmPassword) {
                alert('New password and confirm password do not match.');
                return;
            }


            var password_data = {
                admin_id: p_id,
                old_password: oldPassword,
                new_password: newPassword
            };

            // Send AJAX request
            $.ajax({
                url: 'http://localhost:9000/admin_app/change_password/',
                type: 'PUT',
                data: password_data,
                success: function (response) {
                    alert(response.message);
                    $('#old_password').val('')
                    $('#new_password').val('')
                    $('#confirm_password').val('')

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>



{% endblock %}